<div class="container center">

  <div class="section">
    <h2 class="center-align teal-text text-darken-1">About</h2>
  </div>

  <div class="section">
    <p class="flow-text">BarberBase is the premier stop for the best barbers in the world. With BarberBase, you can book an appointment with any of our master barbers. <br> <%= link_to "Create an account", client_signup_path %> today! </p>
  </div>

  <div class="section">
    <p class="flow-text">For more information, <em>or if you're a barber looking to join BarberBase</em>, email us at <a href="#">hello@barberbase.com</a> </p>
  </div>

</div>
