<h4 class="center-align">The Premier Site for the Best Barbers </h4>


<%= link_to "Login to your Client Account", login_path %>

<%= link_to "Sign up as a new Client", client_signup_path %>

<br>
<br>
<br>

<h4>Are you a barber and want to sign up?</h4>
<h5>Email us at <%= link_to "hello@barberbase.com", "/" %> </h5>
