<h2>The Clients' Longue</h2>

<br>

<!-- RUBY -->
<h3>Welcome, Full Name<h3>
<!-- End RUBY -->
<br>

<h4>Upcoming Appointments</h4>

<h4>Past Appointments</h4>

<br>

<!-- RUBY -->
<h4>Favorite Stylists / Barbers</h4>
<!-- End RUBY -->
<h4>Edit Profile</h4>

<h4>Payment Options</h4>

<h4>Account Settings</h4>
